html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background: darkslategrey;
    font-family: --apple-system, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-clear {
    border: none;
    background: transparent;
    outline: none;
}

.nav-link {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    transition: ease .2s;
}
.nav-link:hover {
    color: navajowhite;
}
.nav-link:active {
    color: rgb(255, 195, 105);
}

p {
    color: whitesmoke;

}

pre {
    color: whitesmoke;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.header-lg {
    font-size: 3.5rem;
    font-weight: 300;
    margin: 2rem;
    color: white;
}

.header-sm {
    font-size: 2.8rem;
    font-weight: 300;
    padding: 2rem;
    color: white
}

.avatar {
    width: 15rem;
    height: 15rem;
    border-radius: .3rem;
    margin: 0 auto;
    display: block;
}

.center-text {
    text-align: center;
}

.link {
    color: dodgerblue;
    text-decoration: none;
    font-weight: bold;
}

.card-list {
    margin: 2rem 0;
    font-size: 2rem;
}

.card-list li {
    display: flex;
    align-items: center;
    margin: 1rem;
    color: ivory;
}

.card-list svg {
    margin-right: 1rem;
}

.card-list a {
    font-weight: 500;
    color: inherit;
}

.bg-light {
    background: rgba(0, 0, 0, 0.08);
    border-radius: .3rem;
}

.repo {
    margin: 1rem 0;
    width: 25rem;
    padding: 2rem;
}

.repo a {
    text-decoration: none;
}

.repo img {
    margin-bottom: .8rem;
}

.instructions-container {
    margin: 100px 0;
}

.container-sm {
    width: 80%;
    margin: 0 auto;
}

.battle-instructions {
    padding: 0;
    font-size: 25px;
}

.battle-instructions li {
    flex: 1;
    min-width: 30rem;
}

.battle-instructions svg {
    padding: 4rem;
    border-radius: .3rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.player {
    flex: 1;
    margin: 0 20px;
    padding: 1rem;
}

.player-label {
    font-size: 2rem;
    margin: .5rem 0;
    font-weight: 300;
    color: white;
}

.player-inputs input {
    padding: .8rem;
    font-size: 1.6rem;
    flex: 2;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.player-inputs .input-light {
    background: rgba(0, 0, 0, 0.02);
}

.player-inputs button {
    flex: 1;
    margin-left: 1rem;
}

.btn {
    padding: 1rem;
    text-decoration: uppercase;
    letter-spacing: .25rem;
    border-radius: 3px;
    border: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    max-width: 20rem;
}

.btn-dark {
    color: #e6e6e6;
    background: #141414;
}

.btn-dark:disabled {
    background: #f2f2f2;
    color: #c7c7c7;
}

.players-container {
    margin: 10rem 0;
}

.avatar-small {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.player-info {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
}

.player-info .link {
    margin-left: 1rem;
}